In [1]:
# Rio de Janeiro, 23 de Setembro de 2021
# Patents with foreign application
# Citation to foreign patents (total count)
# Applications (date)

## Patents with foreign application
- Information about an earlier patent filing in a foreign country which gives the claim priority

In [2]:
import pandas as pd

priority='data/foreign_priority.tsv.zip'

df=pd.read_csv(priority, compression='zip', sep='\t', index_col='patent_id')

df.head()

,uuid,sequence,kind,number,date,country,country_transformed
patent_id,,,,,,,
4579440,0000fiy95lpkqbtbss6subowv,0,NaN,57-203133,1982-11-18,JPX,JP
4736480,0000juwbvgjn7e8urioa1cey2,0,NaN,3511086,1985-03-27,DEX,DE
8001979,0001hk1wmzpro1aivmdrem8et,0,national,2006-121062,2006-04-25,JP,JP
D449111,0002e3kgnjfznhqethefkgky4,0,NaN,0110048,2001-01-09,HKX,HK
5228311,0002mrngzyzplm17id62801v0,0,NaN,4025984,1990-08-16,DEX,DE

In [3]:
dst='data/foreign_priority.parquet.gz'
df=df[['date', 'country_transformed']]
df.to_parquet(dst, compression='gzip')

## Citation to foreign patents

In [4]:
f_citation='data/foreigncitation.tsv.zip'
df=pd.read_csv(f_citation, compression='zip', sep='\t', index_col='patent_id')
df.head()

,uuid,date,number,country,category,sequence
patent_id,,,,,,
9872910,00000kn29m6rw14dilp4huhqa,2013-04-01,2013-512894,JP,cited by applicant,4
7580255,00000mb3si9yta1mr1mzzf7t3,2001-05-01,1 104 150,EP,cited by other,0
10221436,00007x6v2g3mhkq0vq9o2k3g3,2007-12-01,WO-2007138178,WO,cited by applicant,84
5928533,00009vc2dthuhusv4ftd964dp,1990-07-01,2641718,FR,NaN,1
7223854,0000clmhnekrrt61zwmx9n0s1,1993-04-01,WO 93/07898,WO,cited by other,6

In [5]:
dst='data/foreigncitation.parquet.gz'
df=df[['date', 'country', 'category']]
df.to_parquet(dst, compression='gzip')

## Applications

In [6]:
application='data/application.tsv.zip'
df=pd.read_csv(application, compression='zip', sep='\t', index_col='patent_id')
df.head()

/home/renato/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3147: DtypeWarning: Columns (2,3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

                  id series_code   number country        date
patent_id
D345393    02/002761           2  2002761      US  1992-12-21
5164715    02/007691           2  2007691      US  1990-04-10
5177974    02/010248           2  2010248      US  1988-06-23
5379515    02/020141           2  2020141      US  1994-02-16
5264790    02/027172           2  2027172      US  1991-07-01

In [7]:
dst='data/application.parquet.gz'
df=df[['date', 'country']]
df.to_parquet(dst, compression='gzip')

## Inventor vs Patent

In [10]:
inventor='data/patent_inventor.tsv.zip'
df=pd.read_csv(inventor, compression='zip', sep='\t', dtype=object)
df.head()

df = df.apply(lambda x: x.str.strip())

dst='data/inventor.parquet.gz'
df.to_parquet(dst, compression='gzip')

          inventor_id
patent_id
3930274     3930274-1
3930275     3930275-1
3930276     3930276-1
3930277     3930277-1
3930278     3930278-1