In [1]:
# Rio de Janeiro, 23 de Setembro de 2021
# Information about an earlier patent filing in a foreign country which gives the claim priority 

import pandas as pd

priority='data/foreign_priority.tsv.zip'

df=pd.read_csv(priority, compression='zip', sep='\t')

df.head()

,uuid,patent_id,sequence,kind,number,date,country,country_transformed
0,0000fiy95lpkqbtbss6subowv,4579440,0,NaN,57-203133,1982-11-18,JPX,JP
1,0000juwbvgjn7e8urioa1cey2,4736480,0,NaN,3511086,1985-03-27,DEX,DE
2,0001hk1wmzpro1aivmdrem8et,8001979,0,national,2006-121062,2006-04-25,JP,JP
3,0002e3kgnjfznhqethefkgky4,D449111,0,NaN,0110048,2001-01-09,HKX,HK
4,0002mrngzyzplm17id62801v0,5228311,0,NaN,4025984,1990-08-16,DEX,DE

In [2]:
# Citation to foreing patents

In [3]:
f_citation='data/foreigncitation.tsv.zip'

df=pd.read_csv(f_citation, compression='zip', sep='\t')

df.head()

,uuid,patent_id,date,number,country,category,sequence
0,00000kn29m6rw14dilp4huhqa,9872910,2013-04-01,2013-512894,JP,cited by applicant,4
1,00000mb3si9yta1mr1mzzf7t3,7580255,2001-05-01,1 104 150,EP,cited by other,0
2,00007x6v2g3mhkq0vq9o2k3g3,10221436,2007-12-01,WO-2007138178,WO,cited by applicant,84
3,00009vc2dthuhusv4ftd964dp,5928533,1990-07-01,2641718,FR,NaN,1
4,0000clmhnekrrt61zwmx9n0s1,7223854,1993-04-01,WO 93/07898,WO,cited by other,6

In [4]:
# Applications

In [5]:
application='data/application.tsv.zip'

df=pd.read_csv(application, compression='zip', sep='\t')

df.head()

/home/renato/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3147: DtypeWarning: Columns (2,3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

          id patent_id series_code   number country        date
0  02/002761   D345393           2  2002761      US  1992-12-21
1  02/007691   5164715           2  2007691      US  1990-04-10
2  02/010248   5177974           2  2010248      US  1988-06-23
3  02/020141   5379515           2  2020141      US  1994-02-16
4  02/027172   5264790           2  2027172      US  1991-07-01

In [6]:
inventor='data/inventor.tsv.zip'

df=pd.read_csv(inventor, compression='zip', sep='\t')

df.head()

          id  name_first   name_last
0  3930274-1   Harold A.     Syfritt
1  3930275-1     Richard      Bailin
2  3930276-1   Russel A.  Van Brakel
3  3930277-1  Richard F.       Wulff
4  3930278-1  Richard A.       Nasca

In [7]:
inventor='data/patent_inventor.tsv.zip'

df=pd.read_csv(inventor, compression='zip', sep='\t')

df.head()

/home/renato/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3147: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

  patent_id inventor_id
0   3930274   3930274-1
1   3930275   3930275-1
2   3930276   3930276-1
3   3930277   3930277-1
4   3930278   3930278-1