In [1]:
#This script opens the other reference dataset and perform calculations on patent level
#Renato Kogeyama

#Rio de Janeiro, 24 de Setembro de 2021
#Script to calculate non patent citations received by a patent

In [2]:
import pandas as pd
import numpy as np
import re
import glob

pd.options.display.max_colwidth = 100

In [3]:
file_list=glob.glob("data/clean_otherref*")
dfs = [pd.read_parquet(f, columns=['patent_id', 'text']) for f in file_list]
dst = 'data/otherref_cit.parquet.gz'

In [4]:
for i, df in enumerate(dfs):
    if i==0:
#        output=df.loc['10415016']
        output=df.groupby(df.index).count() 
    else:
        output=pd.concat([output, df.groupby(df.index).count()])
#        output.append(df.loc['10415016'])

In [5]:
# checa uma patente especifica - multiplas citacoes para uma mesma obra

# output=[]
# for df in dfs:
#     output.append(df.loc['10415016'])

In [6]:
# for element in output:
#     print(element)

In [7]:
output=output.groupby(output.index).sum()

In [8]:
output.head()

           text
patent_id
10000000      6
10000002      2
10000003      2
10000005      2
10000006      1

In [9]:
dfs

[                                                                                                          text
 patent_id
 D670692    NYTimes.com iRiver U10 1GB httpwww.nytimes.comtechnologypersonaltechmusicplayersiRiverU101GB3143...
 RE43119                                        Response for U.S. Appl. No. 12322858 filed May 3 2011 20 pages.
 9441707    Interocean Systems Inc. Model 5000E Heavy Duty Underwater Release commercially available prior t...
 7445817    Office of Energy Efficiency Using NonThermal Plasma Reactor to Reduce NOx Emissions from CIDI En...
 10391397   Case 216cv00801RCJVCF Document 81 Defendant Fanduel Inc.s Notice of Withdrawal of Motion Seeking...
 ...                                                                                                        ...
 9040445    International Search Report issued in International Application No. PCTGB2010052093 dated Apr. 8...
 10333604   First Examination Report from foreign counterpart Australian Patent Application No. AU2017245425...
 4422268     Montageanleitung Tonnengewoelbe Mounting Instructions for Roofing Members Published by Suckow  ...
 9287675    Decision on Motion to Amend Claims entered Feb. 18 2014 in Case IPR201300268 for U.S. Pat. No. 7...
 9492555           Wells et al. Additivity of mutational effects in proteins.  Biochemistry . 2937 850917 1990.

 [15728640 rows x 1 columns],
                                                                                                           text
 patent_id
 9339622               English Translation of Chinese Examination Report Application No. 2007800266164 5 pages.
 5013322     Surgery NewsAn Advertising supplement Aug. 1 1985 vol. 3 No. 15 Clayman Ovoid Model No. 8743 an...
 8773357                                      U.S. Office Action dated Dec. 23 2011 in U.S. Appl. No. 12571157.
 7307640            Duke Dreamcast Technical Specs Sega Dreamcast Review Sega Feb. 1999 www.gamerevolution.com.
 8543711    Ranjan S. and Rolia J. Fu H. and Knightly E. QoSDriven Server Migration for Internet Data Center...
 ...                                                                                                        ...
 9732075    Smith R.J. et al. OrexinHypocretin is Necessary for Contextdriven Cocaineseeking Neuropharmacolo...
 6724065    Andoh et al. 1994 8220Design methodology for lowvoltage MOSFETS8221 IEEE International Electron ...
 8204342                                             U.S. Appl. No. 12402817 filed Mar. 12 2009 Uchiyama et al.
 10287321   Shiomi K et al. Sensitive and specific new enzymelinked immunosorbent assay for NERCmesothelin i...
 8722518                                  Office Action of related U.S. Appl. No. 12502796 mailed Dec. 18 2012.

 [15728640 rows x 1 columns],
                                                                                                           text
 patent_id
 9140992    Brunner Timothy. et al. High NA Lithographic Imaging at Brewsters Angle. SPIE U.S.A. vol. 4691 p...
 8637529                                                           U.S. Appl. No. 12958115 Abbott Laboratories.
 10106624                                       U.S. Appl. No. 13194904 Notice of Allowance dated Sep. 18 2013.
 8236294    Gibbins A. M. V. Transgenic Poultry Technology and Food Production Animal Biotechnology Jan. 1 1...
 10307830   Hidehiko Kimura Yun Wang Yoshiaki Akiniwa Keisuke Tanaka Misorientation Analysis of Plastic Defo...
 ...                                                                                                        ...
 8782379                                                      Taiwan Search ReportTW097137397TIPO Sep. 30 2012.
 8063023    RatkayTraub I et. al. Regenaration of rabbit cornea following excimer laser photorefractive kera...
 8259769    Aoki et al. InGaAsInGaAsP MQW Electroabsorption Modulator Integrated With A DFB Laser Fabricated...
 10165183   Kawanishi T. et al. Generation of HighResolution Stereo Panoramic Images by Omnidirectional Imag...
 9028451                    European Search Report dated Apr. 17 2012 International Application No. 12157661.5.

 [8107859 rows x 1 columns]]

In [10]:
output.rename(columns = {'text':"other_ref"}, inplace = True)

In [11]:
output.nlargest(15, 'other_ref')

           other_ref
patent_id
10415016        3009
10329543        3008
8401902         2964
7820193         2823
9487823         2725
9100375         2501
8112782         2483
9037713         2380
9094399         2376
9860283         2372
8637286         2336
8445244         2333
9413766         2333
8236539         2330
9479426         2317

In [12]:
#output.to_parquet(dst, compression='gzip')
output.memory_usage()

Index        25760488
other_ref    25760488
dtype: int64