In [75]:
import pandas as pd
import numpy as np
import itertools
import seaborn as sns

src='data/dataset.csv'
# names=['index', 'id', 'cit_received']
# usecols=['id', 'cit_received']
# dtype={'main_group':'int64', 'subgroup':'int64'}
# cols=['patent_id','citation_id', 'cit_delay']

df = pd.read_csv(src, chunksize=1000,  error_bad_lines=False)
# df = pd.read_csv(src, usecols=usecols, names=names, chunksize=1000, dtype=dtype, index_col='id')
# df=pd.read_csv(src, usecols=[0, 1, 3], dtype={0:object}, index_col=0, chunksize=1000)

In [57]:
%matplotlib inline

In [93]:
df.get_chunk()

,id,type,date,kind,num_claims,cit_received,cit_made,cit_received_delay,cit_made_delay,parent_citation,...,ipcr_section,ipcr_ipc_class,ipcr_subclass,cpc_section_id,cpc_subsection_id,cpc_group_id,nber_category_id,nber_subcategory_id,uspc_mainclass_id,uspc_subclass_id
0,1054440,NaN,NaN,NaN,NaN,7.0,NaN,87.556164,NaN,50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1054444,NaN,NaN,NaN,NaN,4.0,NaN,96.565068,NaN,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1054448,NaN,NaN,NaN,NaN,1.0,NaN,75.684932,NaN,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1054452,NaN,NaN,NaN,NaN,16.0,NaN,93.442637,NaN,167.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1054454,NaN,NaN,NaN,NaN,1.0,NaN,87.824658,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1054459,NaN,NaN,NaN,NaN,1.0,NaN,89.397260,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1054463,NaN,NaN,NaN,NaN,3.0,NaN,96.972603,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1054464,NaN,NaN,NaN,NaN,8.0,NaN,79.009932,NaN,35.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1054465,NaN,NaN,NaN,NaN,4.0,NaN,86.021918,NaN,121.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1054480,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1054481,NaN,NaN,NaN,NaN,1.0,NaN,71.504110,NaN,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1054482,NaN,NaN,NaN,NaN,1.0,NaN,76.205479,NaN,15.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1054483,NaN,NaN,NaN,NaN,1.0,NaN,87.882192,NaN,21.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1054484,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,51.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1054485,NaN,NaN,NaN,NaN,3.0,NaN,73.556164,NaN,24.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1054487,NaN,NaN,NaN,NaN,8.0,NaN,88.570205,NaN,80.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,1054488,NaN,NaN,NaN,NaN,3.0,NaN,82.633790,NaN,109.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1054498,NaN,NaN,NaN,NaN,2.0,NaN,84.928767,NaN,47.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,1054500,NaN,NaN,NaN,NaN,1.0,NaN,72.443836,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,1054503,NaN,NaN,NaN,NaN,1.0,NaN,94.671233,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,1054504,NaN,NaN,NaN,NaN,5.0,NaN,93.589589,NaN,29.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,1054505,NaN,NaN,NaN,NaN,1.0,NaN,76.873973,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,1054513,NaN,NaN,NaN,NaN,1.0,NaN,66.747945,NaN,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,1054518,NaN,NaN,NaN,NaN,1.0,NaN,68.339726,NaN,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,1054520,NaN,NaN,NaN,NaN,6.0,NaN,94.572146,NaN,44.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,1054521,NaN,NaN,NaN,NaN,2.0,NaN,77.132877,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,1054522,NaN,NaN,NaN,NaN,1.0,NaN,86.865753,NaN,16.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,1054524,NaN,NaN,NaN,NaN,2.0,NaN,73.958904,NaN,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,1054530,NaN,NaN,NaN,NaN,3.0,NaN,96.192694,NaN,34.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,1054533,NaN,NaN,NaN,NaN,2.0,NaN,68.358904,NaN,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,1057693,NaN,NaN,NaN,NaN,1.0,NaN,70.038356,NaN,15.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
971,1057699,NaN,NaN,NaN,NaN,1.0,NaN,77.632877,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
972,1057708,NaN,NaN,NaN,NaN,3.0,NaN,85.086758,NaN,19.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
973,105771,NaN,NaN,NaN,NaN,2.0,NaN,113.113699,NaN,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
974,1057713,NaN,NaN,NaN,NaN,1.0,NaN,80.701370,NaN,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
975,1057714,NaN,NaN,NaN,NaN,2.0,NaN,89.063014,NaN,16.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
976,1057717,NaN,NaN,NaN,NaN,1.0,NaN,69.328767,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
977,1057719,NaN,NaN,NaN,NaN,4.0,NaN,86.095205,NaN,38.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
978,1057722,NaN,NaN,NaN,NaN,7.0,NaN,84.361187,NaN,36.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
979,1057723,NaN,NaN,NaN,NaN,2.0,NaN,81.401370,NaN,40.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
980,1057727,NaN,NaN,NaN,NaN,1.0,NaN,97.482192,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
981,105773,NaN,NaN,NaN,NaN,2.0,NaN,113.017808,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
982,1057731,NaN,NaN,NaN,NaN,2.0,NaN,67.113699,NaN,16.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
983,1057733,NaN,NaN,NaN,NaN,1.0,NaN,64.783562,NaN,27.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
984,1057734,NaN,NaN,NaN,NaN,6.0,NaN,100.934247,NaN,101.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
985,1057735,NaN,NaN,NaN,NaN,3.0,NaN,70.473059,NaN,17.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
986,1057738,NaN,NaN,NaN,NaN,1.0,NaN,81.487671,NaN,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
987,1057741,NaN,NaN,NaN,NaN,1.0,NaN,104.558904,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
988,1057743,NaN,NaN,NaN,NaN,1.0,NaN,95.315068,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
989,1057745,NaN,NaN,NaN,NaN,1.0,NaN,79.301370,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
990,1057747,NaN,NaN,NaN,NaN,2.0,NaN,68.657534,NaN,11.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
991,1057757,NaN,NaN,NaN,NaN,1.0,NaN,63.230137,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
992,105776,NaN,NaN,NaN,NaN,2.0,NaN,115.942466,NaN,36.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
993,1057760,NaN,NaN,NaN,NaN,2.0,NaN,78.073973,NaN,24.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
994,1057763,NaN,NaN,NaN,NaN,4.0,NaN,85.769178,NaN,16.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
995,1057770,NaN,NaN,NaN,NaN,1.0,NaN,87.241096,NaN,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
996,1057773,NaN,NaN,NaN,NaN,2.0,NaN,69.367123,NaN,11.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,1057779,NaN,NaN,NaN,NaN,1.0,NaN,77.115068,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,1057780,NaN,NaN,NaN,NaN,1.0,NaN,63.652055,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,1057783,NaN,NaN,NaN,NaN,1.0,NaN,87.873973,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [95]:
df=df.get_chunk()

In [46]:
df=df.astype(str)

In [47]:
obj_cols=list(df.select_dtypes(include=[object]).columns.values)

In [48]:
df.columns

Index(['id', 'type', 'date', 'kind', 'num_claims', 'cit_received', 'cit_made',
       'cit_received_delay', 'cit_made_delay', 'parent_citation',
       'originality', 'generality', 'wipo_field_id', 'ipcr_section',
       'ipcr_ipc_class', 'ipcr_subclass', 'cpc_section_id',
       'cpc_subsection_id', 'cpc_group_id', 'nber_category_id',
       'nber_subcategory_id', 'uspc_mainclass_id', 'uspc_subclass_id'],
      dtype='object')

In [99]:
df

,id,type,date,kind,num_claims,cit_received,cit_made,cit_received_delay,cit_made_delay,parent_citation,...,ipcr_section,ipcr_ipc_class,ipcr_subclass,cpc_section_id,cpc_subsection_id,cpc_group_id,nber_category_id,nber_subcategory_id,uspc_mainclass_id,uspc_subclass_id
0,1057784,NaN,NaN,NaN,NaN,1.0,NaN,64.304110,NaN,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1057787,NaN,NaN,NaN,NaN,1.0,NaN,65.167123,NaN,11.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1057795,NaN,NaN,NaN,NaN,1.0,NaN,75.139726,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1057798,NaN,NaN,NaN,NaN,2.0,NaN,98.747945,NaN,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1057799,NaN,NaN,NaN,NaN,6.0,NaN,87.202740,NaN,59.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1057807,NaN,NaN,NaN,NaN,1.0,NaN,72.876712,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1057809,NaN,NaN,NaN,NaN,3.0,NaN,68.542466,NaN,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1057820,NaN,NaN,NaN,NaN,5.0,NaN,90.647123,NaN,42.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1057828,NaN,NaN,NaN,NaN,1.0,NaN,86.742466,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1057830,NaN,NaN,NaN,NaN,1.0,NaN,76.673973,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1057846,NaN,NaN,NaN,NaN,1.0,NaN,103.734247,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1057857,NaN,NaN,NaN,NaN,2.0,NaN,65.569863,NaN,11.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1057859,NaN,NaN,NaN,NaN,2.0,NaN,67.936986,NaN,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1057860,NaN,NaN,NaN,NaN,7.0,NaN,81.008219,NaN,49.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1057861,NaN,NaN,NaN,NaN,5.0,NaN,93.098082,NaN,19.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1057867,NaN,NaN,NaN,NaN,1.0,NaN,93.780822,NaN,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,1057870,NaN,NaN,NaN,NaN,1.0,NaN,91.153425,NaN,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1057871,NaN,NaN,NaN,NaN,1.0,NaN,46.350685,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,1057874,NaN,NaN,NaN,NaN,1.0,NaN,71.668493,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,1057877,NaN,NaN,NaN,NaN,11.0,NaN,93.869738,NaN,176.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,1057879,NaN,NaN,NaN,NaN,2.0,NaN,86.167123,NaN,17.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,1057881,NaN,NaN,NaN,NaN,1.0,NaN,98.460274,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,1057884,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,1057885,NaN,NaN,NaN,NaN,1.0,NaN,99.265753,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,1057893,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,36.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,1057898,NaN,NaN,NaN,NaN,1.0,NaN,78.591781,NaN,11.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,1057900,NaN,NaN,NaN,NaN,1.0,NaN,70.230137,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,1057901,NaN,NaN,NaN,NaN,1.0,NaN,101.854795,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,1057905,NaN,NaN,NaN,NaN,3.0,NaN,79.736073,NaN,26.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,1057913,NaN,NaN,NaN,NaN,1.0,NaN,90.424658,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,1061017,NaN,NaN,NaN,NaN,1.0,NaN,78.471233,NaN,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
971,1061024,NaN,NaN,NaN,NaN,1.0,NaN,65.104110,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
972,1061026,NaN,NaN,NaN,NaN,4.0,NaN,85.835616,NaN,72.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
973,1061029,NaN,NaN,NaN,NaN,1.0,NaN,75.230137,NaN,17.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
974,1061032,NaN,NaN,NaN,NaN,1.0,NaN,69.112329,NaN,16.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
975,1061033,NaN,NaN,NaN,NaN,2.0,NaN,75.700000,NaN,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
976,1061034,NaN,NaN,NaN,NaN,1.0,NaN,63.358904,NaN,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
977,1061035,NaN,NaN,NaN,NaN,6.0,NaN,89.076712,NaN,56.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
978,1061037,NaN,NaN,NaN,NaN,1.0,NaN,88.980822,NaN,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
979,1061041,NaN,NaN,NaN,NaN,7.0,NaN,82.498630,NaN,51.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
980,1061042,NaN,NaN,NaN,NaN,3.0,NaN,82.012785,NaN,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
981,1061045,NaN,NaN,NaN,NaN,1.0,NaN,66.945205,NaN,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
982,1061054,NaN,NaN,NaN,NaN,1.0,NaN,102.060274,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
983,1061057,NaN,NaN,NaN,NaN,3.0,NaN,90.614612,NaN,21.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
984,1061060,NaN,NaN,NaN,NaN,2.0,NaN,83.112329,NaN,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
985,1061061,NaN,NaN,NaN,NaN,7.0,NaN,95.876712,NaN,59.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
986,1061062,NaN,NaN,NaN,NaN,2.0,NaN,85.049315,NaN,55.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
987,1061067,NaN,NaN,NaN,NaN,1.0,NaN,64.528767,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
988,106107,NaN,NaN,NaN,NaN,5.0,NaN,139.488767,NaN,26.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
989,1061070,NaN,NaN,NaN,NaN,1.0,NaN,98.435616,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
990,1061076,NaN,NaN,NaN,NaN,4.0,NaN,85.653425,NaN,57.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
991,1061077,NaN,NaN,NaN,NaN,1.0,NaN,89.345205,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
992,1061082,NaN,NaN,NaN,NaN,4.0,NaN,86.597945,NaN,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
993,1061085,NaN,NaN,NaN,NaN,2.0,NaN,77.483562,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
994,1061090,NaN,NaN,NaN,NaN,2.0,NaN,87.398630,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
995,1061091,NaN,NaN,NaN,NaN,8.0,NaN,85.497603,NaN,140.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
996,1061097,NaN,NaN,NaN,NaN,5.0,NaN,96.460274,NaN,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,1061098,NaN,NaN,NaN,NaN,4.0,NaN,82.829452,NaN,94.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,1061099,NaN,NaN,NaN,NaN,3.0,NaN,93.065753,NaN,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,1061100,NaN,NaN,NaN,NaN,2.0,NaN,97.639726,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [101]:
df.cit_received.unique()

AttributeError: 'numpy.ndarray' object has no attribute 'counts'

In [102]:
sns.barplot(x=df.groupby('cit_received').count(), y=df.cit_received.unique())

ValueError: cannot copy sequence with size 22 to array axis with dimension 26

In [41]:
a=df[element[0]].name.title() +' vs. '+ df[element[0].name.title()

SyntaxError: unexpected EOF while parsing (<ipython-input-41-734749ba70c9>, line 1)

In [33]:
a=list(itertools.combinations(obj_cols, 2))

In [48]:
obj_cols[6]

'cit_made'

In [54]:
df[obj_cols[6]].name.title()+' vs. '+df[obj_cols[9]].name.title()

'Cit_Made vs. Parent_Citation'

In [40]:
for element in a:
    print(a=df[element[0]].name.title +' vs. '+ df[element[0].name.title)

SyntaxError: invalid syntax (<ipython-input-40-52acb809df93>, line 2)

In [36]:
df[a[1][0]]

0        0000000
1         000004
2         000006
3        0000482
4        0000H94
5        0001552
6         000169
7         000280
8         000312
9         000491
10        000542
11        000567
12        000588
13     000786519
14        001383
15        001552
16        001674
17       0018361
18        001860
19       0019390
20       0019785
21       0020035
22     002046015
23        002057
24      00234622
25        002403
26       0025393
27        002626
28        002714
29       0028174
         ...
970      1001391
971      1001395
972      1001397
973      1001398
974      1001400
975      1001401
976      1001402
977      1001403
978      1001404
979      1001410
980      1001411
981      1001416
982      1001419
983       100142
984      1001421
985      1001424
986      1001427
987      1001430
988      1001443
989      1001449
990      1001457
991      1001458
992      1001460
993      1001462
994      1001463
995      1001466
996      1001475
997      1001478
998      1001480
999      1001484
Name: id, dtype: object

In [ ]:
import sys

with open('bad_lines.txt', 'w') as fp:
    sys.stderr = fp
    pd.read_csv(src, error_bad_lines=False, sep='\t', chunksize=1000)

In [214]:
for chunk in df:
    df2.append(chunk[~chunk['num_claims'].apply(np.isreal)])

b'Skipping line 4232501: expected 10 fields, saw 11\n'
b'Skipping line 4267898: expected 10 fields, saw 11\n'
b'Skipping line 4327680: expected 10 fields, saw 11\n'
b'Skipping line 4368028: expected 10 fields, saw 11\n'
b'Skipping line 4377090: expected 10 fields, saw 11\n'
b'Skipping line 4426415: expected 10 fields, saw 11\n'

In [215]:
df2

[Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]
 Index: [], Empty DataFrame
 Columns: [id, type, number, country, date, abstract, title, kind, num_claims, filename]

In [186]:
df=df.set_index('id')

KeyError: 'id'

In [182]:
df.iloc[:,1:]

               date kind num_claims
id
3931272  1976-01-06    A          6
3931273  1976-01-06    A          7
3931274  1976-01-06    A          3
3931275  1976-01-06    A          3
3931276  1976-01-06    A          8
3931277  1976-01-06    A          5
3931278  1976-01-06    A          5
3931279  1976-01-06    A         44
3931280  1976-01-06    A          6
3931281  1976-01-06    A         11
3931282  1976-01-06    A         15
3931283  1976-01-06    A          3
3931284  1976-01-06    A          3
3931285  1976-01-06    A         10
3931286  1976-01-06    A          3
3931287  1976-01-06    A          5
3931288  1976-01-06    A          2
3931289  1976-01-06    A         30
3931290  1976-01-06    A         10
3931291  1976-01-06    A          2
3931292  1976-01-06    A          2
3931293  1976-01-06    A          1
3931294  1976-01-06    A          3
3931295  1976-01-06    A         11
3931296  1976-01-06    A         11
3931297  1976-01-06    A          3
3931298  1976-01-06    A         25
3931299  1976-01-06    A          3
3931300  1976-01-06    A         11
3931301  1976-01-06    A          3
...             ...  ...        ...
3932243  1976-01-13    A          7
3932244  1976-01-13    A         14
3932245  1976-01-13    A         11
3932246  1976-01-13    A          6
3932247  1976-01-13    A          5
3932248  1976-01-13    A         12
3932249  1976-01-13    A         10
3932250  1976-01-13    A         16
3932251  1976-01-13    A          7
3932252  1976-01-13    A         13
3932253  1976-01-13    A         10
3932254  1976-01-13    A          6
3932255  1976-01-13    A          5
3932256  1976-01-13    A          5
3932257  1976-01-13    A         10
3932258  1976-01-13    A         13
3932259  1976-01-13    A          8
3932260  1976-01-13    A          1
3932261  1976-01-13    A         11
3932262  1976-01-13    A         12
3932263  1976-01-13    A          3
3932264  1976-01-13    A         14
3932265  1976-01-13    A         24
3932266  1976-01-13    A         14
3932267  1976-01-13    A          5
3932268  1976-01-13    A          2
3932269  1976-01-13    A          6
3932270  1976-01-13    A          7
3932271  1976-01-13    A          9
3932272  1976-01-13    A          7

[1000 rows x 3 columns]

In [126]:
df.set_index('id').drop(['Unnamed: 0'],axis=1)

AttributeError: 'TextFileReader' object has no attribute 'set_index'

In [49]:
df.iloc(['patent_id','section'])

In [ ]:
df.rename(columns={'Unnamed: 0': 'citation_id'}, inplace=True)

df['citation_id']=df['citation_id'].astype(object)

In [ ]:
df.dtypes

In [ ]:
df.drop(['patent_id', 'Unnamed: 0.1', 'sequence', 'patent_id_raw'], inplace=True, axis=1)

In [ ]:
df.columns({'Unnamed: 0':'citation_id'})

In [ ]:
df.set_index('Unnamed: 0')

In [ ]:
df['cit_delay']=pd.to_timedelta(df['cit_delay']).dt.components.days/365

In [ ]:
back_delay=df.groupby('citation_id').cit_delay.agg(['mean', 'count'])
back_delay.rename(columns={'count': 'back_citation', 'mean':'mean_back_delay'}, inplace=True)
back_delay.head()

In [ ]:
df.get_chunk().dtypes

In [ ]:
names=['citation_id', 'back_citation', 'parent_back_citation', 'forw_citation']
df = pd.read_csv(src, names=names, chunksize=1000)

In [ ]:
df.get_chunk().set_index('citation_id', inplace=True)

In [ ]:
df=df.get_chunk()

In [ ]:
df.set_index('citation_id', inplace=True)

In [ ]:
df

In [ ]:
df.get_chunk().astype(int)