In [12]:
import pandas as pd
import gzip

file_classes=gzip.open('data/classes.csv.gz', 'r')
df_classes=pd.read_csv(file_classes)
df_classes.rename(columns={'id': 'class_id'}, inplace=True)

In [14]:
classification = 'data/internal_external_citation.csv.gz'
file_class=gzip.open(classification, 'rt')
class_df=pd.read_csv(file_class, dtype=object, usecols=[0,1,2])

In [15]:
class_df

            index wipo_far_ext wipo_ext
0        10000006            0        0
1        10000022            0        0
2        10000035            0        0
3        10000038            0        0
4        10000049            0        1
5        10000058            0        0
6        10000068            0        0
7        10000074            1        1
8        10000094            0        0
9        10000096            0        0
10       10000101            0        0
11       10000116            0        0
12       10000117            0        0
13       10000118            0        2
14       10000119            0        1
15       10000123            0        0
16       10000124            1        1
17       10000129            1        1
18       10000134            2        2
19       10000135            0        0
20       10000138            1        1
21       10000143            0        1
22       10000148            0        1
23       10000150            1        1
24       10000152            2        2
25       10000186            0        0
26       10000189            0        1
27       10000191            0        0
28       10000205            0        0
29       10000207            1        1
...           ...          ...      ...
4788337   9999825            1        2
4788338   9999827            1        1
4788339   9999829            0        0
4788340   9999830            0        0
4788341   9999831            0        0
4788342   9999834            0        0
4788343   9999835            1        1
4788344   9999837            1        1
4788345   9999854            0        1
4788346   9999871            0        2
4788347   9999875            0        0
4788348   9999895            0        0
4788349   9999904            0        0
4788350   9999906            0        0
4788351   9999922            0        0
4788352   9999924            0        3
4788353   9999926            0        0
4788354   9999940            0        0
4788355   9999945            0        0
4788356   9999948            0        0
4788357   9999951            0        1
4788358   9999954            0        2
4788359   9999955            1        1
4788360   9999967            0        0
4788361   9999969            2        2
4788362   9999971            1        1
4788363   9999976            0        0
4788364   9999977            0        0
4788365   9999980            0        0
4788366   9999986            0        0

[4788367 rows x 3 columns]

In [8]:
class_system='wipo_field_id'
df_classes[df_classes['system']==class_system]

,system,class_id,sector_title,field_title
0,wipo_field_id,01,Electrical Eng,"Electrical machinery, apparatus, energy"
1,wipo_field_id,02,Electrical Eng,Audio-visual technology
2,wipo_field_id,03,Electrical Eng,Telecommunications
3,wipo_field_id,04,Electrical Eng,Digital communication
4,wipo_field_id,05,Electrical Eng,Basic communication processes
5,wipo_field_id,06,Electrical Eng,Computer technology
6,wipo_field_id,07,Electrical Eng,IT methods for management
7,wipo_field_id,08,Electrical Eng,Semiconductors
8,wipo_field_id,09,Instruments,Optics
9,wipo_field_id,10,Instruments,Measurement
10,wipo_field_id,11,Instruments,Analysis of biological materials
11,wipo_field_id,12,Instruments,Control
12,wipo_field_id,13,Instruments,Medical technology
13,wipo_field_id,14,Chemistry,Organic fine chemistry
14,wipo_field_id,15,Chemistry,Biotechnology
15,wipo_field_id,16,Chemistry,Pharmaceuticals
16,wipo_field_id,17,Chemistry,"Macromolecular chemistry, polymers"
17,wipo_field_id,18,Chemistry,Food chemistry
18,wipo_field_id,19,Chemistry,Basic materials chemistry
19,wipo_field_id,20,Chemistry,"Materials, metallurgy"
20,wipo_field_id,21,Chemistry,"Surface technology, coating"
21,wipo_field_id,22,Chemistry,Micro-structural and nano-technology
22,wipo_field_id,23,Chemistry,Chemical Eng
23,wipo_field_id,24,Chemistry,Environmental technology
24,wipo_field_id,25,Mechanical Eng,Handling
25,wipo_field_id,26,Mechanical Eng,Machine tools
26,wipo_field_id,27,Mechanical Eng,"Engines, pumps, turbines"
27,wipo_field_id,28,Mechanical Eng,Textile and paper machines
28,wipo_field_id,29,Mechanical Eng,Other special machines
29,wipo_field_id,30,Mechanical Eng,Thermal processes and apparatus
30,wipo_field_id,31,Mechanical Eng,Mechanical elements
31,wipo_field_id,32,Mechanical Eng,Transport
32,wipo_field_id,33,Other fields,"Furniture, games"
33,wipo_field_id,34,Other fields,Other consumer goods
34,wipo_field_id,35,Other fields,Civil Eng
35,wipo_field_id,36,Plant,Plant

In [9]:
df_classes['class_id']=df_classes['class_id'].apply('{:0>2}'.format)