In [1]:
# Jan 30, 2020
# Joined the 5 classification tables available
# to be evaluated:
    # join is left by default
    # because I adopt cit_received as the leftmost data
        # this dataset keep data on the patents who received citation
    # I can make the first join as an 'outer' operation between cit_received and cit_made
    # To be complete, I can begin with patent.csv.gz and make the first two joins with 'outer' type
#     Ill git add now and try this
    

# Jan 29, 2020
# many errors appeared after joining the dataset 
# i rewritten code into simpler scripts
# this script joins variables together to be processed later

# they are:
#     - cit_delay - reads clean_patent and clean_uspatentcitation and calculates delay by patent
#     - cit_made - reads clean_uspatentcitation and calculates citations made 
#     - cit_received - reads clean_uspatentcitation and calculates citations received
#     - cit_tree - reads clean_uspatentcitation and cit_made and calculates parent_citation
#     - generalit - reads wipo and clean_uspatentcitation and calculates generality
#     - originality - reads wipo and clean_uspatentcitation and calculates originality
#     - wipo_first_class - reads wipo and generates wipo_first_class

# it is now way faster, but I cannot know for sure if this is a consequence of coding or something changed in 
# infrastructure. 

# since class is a variable that also appear in non-cited patents, I'll include them in the final step


# Jan, 20th 2020
# join delay and tree data to form the analysis dataset


# In[2]:

In [2]:
import pandas as pd
import numpy as np
import dask.dataframe as dd
from dask.delayed import delayed


def data_read(file, names, usecols, dtype):
    df = dd.read_parquet(file, compression='gzip', names=names, usecols=usecols, dtype=dtype, index_col='id', header=0)
    dfs.append(df)

In [3]:
dst='data/dataset.parquet.gz'

patent='data/cleanpatent.parquet.gz'
received='data/cit_received.parquet.gz'
made='data/cit_made.parquet.gz'
received_delay='data/cit_received_delay.parquet.gz'
made_delay='data/cit_made_delay.parquet.gz'
# cit_tree = 'data/cit_tree.csv.gz'
originality = 'data/originality.parquet.gz'
generality = 'data/generality.parquet.gz'
wipo = 'data/wipo.parquet.gz'
centrality='data/centrality_pagerank.csv'
int_ext_cit='data/int_ext_cit.parquet.gz'

In [4]:
dfs=[]

#adopting patent.csv as the reference of patents
df = dd.read_parquet(patent, compression='gzip', dtype=object)
df['num_claims']=df['num_claims'].astype(float) #int does not handle NAN values, so using float instead
# df=df.set_index('id')

In [5]:
df.info()

<class 'dask.dataframe.core.DataFrame'>
Columns: 2 entries, date to num_claims
dtypes: float64(1), int64(1)

In [6]:
#outer join to citation received
#there are patents who received citations that are not in patent.csv.gz
#for example, the very ancient ones

In [7]:
df2 = dd.read_parquet(received, compression='gzip')
df=df.join(df2, how='outer')
df['cit_received']=df['cit_received'].fillna(0)

In [8]:
df.info()

<class 'dask.dataframe.core.DataFrame'>
Columns: 3 entries, date to cit_received
dtypes: float64(1), int64(2)

In [9]:
#i dont see any reason for patents making citations not to appear in patent.csv.gz
#so from this data on, the list of patents is stable
#the number of rows should not change (check)
df2 = dd.read_parquet(made, compression='gzip')
df=df.join(df2, how='outer')

In [10]:
df.info()

<class 'dask.dataframe.core.DataFrame'>
Columns: 4 entries, date to cit_made
dtypes: float64(1), int64(3)

In [11]:
df2 = dd.read_parquet(originality, compression='gzip')
df=df.join(df2, how='outer')

In [12]:
df.info()

<class 'dask.dataframe.core.DataFrame'>
Columns: 5 entries, date to originality
dtypes: float64(2), int64(3)

In [13]:
df2 = dd.read_parquet(generality, compression='gzip')
df=df.join(df2, how='outer')

In [14]:
df.info()

<class 'dask.dataframe.core.DataFrame'>
Columns: 6 entries, date to generality
dtypes: float64(3), int64(3)

In [15]:
df2 = dd.read_parquet(wipo, compression='gzip')
df=df.join(df2, how='outer')

In [16]:
df2 = dd.read_parquet(int_ext_cit, compression='gzip', dtype=object)
# df.set_index('index', inplace=True)
df=df.join(df2, how='outer')

In [17]:
df.info()

<class 'dask.dataframe.core.DataFrame'>
Columns: 10 entries, date to far_external
dtypes: category(2), float64(3), int64(5)

In [18]:
df2 = dd.read_csv(centrality, dtype=object)
df2=df2.set_index('id')
df=df.join(df2, how='outer')

In [ ]:
# adding some new files
inventor='data/inventor.parquet.gz'
application='data/application.parquet.gz'
foreign_cit='data/foreigncitation.parquet.gz'
foreign_priority='data/foreign_priority.parquet.gz'
pat_govt='data/df_pat_govt.parquet.gz'
pat_assignee='data/pat_assignee.parquet.gz'
otherref_cit = 'data/otherref_cit.parquet.gz'

In [ ]:
df2 = dd.read_csv(inventor, dtype=object)
df2=df2.set_index('patent_id')
df=df.join(df2, how='outer')

In [ ]:
df2 = dd.read_csv(application, dtype=object)
df2=df2.set_index('patent_id')
df=df.join(df2, how='outer')''

In [ ]:
df2 = dd.read_csv(foreign_cit, dtype=object)
df2=df2.set_index('patent_id')
df=df.join(df2, how='outer')''

In [ ]:
df2 = dd.read_csv(foreign_priority, dtype=object)
df2=df2.set_index('patent_id')
df=df.join(df2, how='outer')''

In [ ]:
df2 = dd.read_csv(pat_govt, dtype=object)
df2=df2.set_index('patent_id')
df=df.join(df2, how='outer')''

In [ ]:
df2 = dd.read_csv(pat_assignee, dtype=object)
df2=df2.set_index('patent_id')
df=df.join(df2, how='outer')''

In [ ]:
df2 = dd.read_csv(otherref_cit, dtype=object)
df2=df2.set_index('patent_id')
df=df.join(df2, how='outer')''

In [19]:
df=df.compute()

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9677417 entries, 000004 to pctus9926473
Data columns (total 11 columns):
 #   Column          Dtype
---  ------          -----
 0   date            float64
 1   num_claims      float64
 2   cit_received    float64
 3   cit_made        float64
 4   originality     float64
 5   generality      float64
 6   wipo_field_id   category
 7   wipo_sector_id  category
 8   external        float64
 9   far_external    float64
 10  pagerank        object
dtypes: category(2), float64(8), object(1)
memory usage: 756.8+ MB

In [21]:
df.sample(n=10)

,date,num_claims,cit_received,cit_made,originality,generality,wipo_field_id,wipo_sector_id,external,far_external,pagerank
699084,NaN,NaN,3.0,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,4.4413390041417596e-08
6437641,2002.0,20.0,58.0,11.0,0.000000,0.033888,04,Electrical Eng,2.0,10.0,2.651107236026776e-07
D545557,2007.0,1.0,33.0,32.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0187779634319908e-07
5640892,1997.0,20.0,5.0,6.0,0.277778,0.500000,31,Mechanical Eng,4.0,5.0,6.339462011403021e-08
9206387,2015.0,33.0,7.0,76.0,0.432432,0.444444,13,Instruments,20.0,20.0,4.986957288492578e-08
3637992,NaN,NaN,2.0,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,5.953347918202807e-08
4008255,1977.0,6.0,6.0,5.0,NaN,0.000000,14,Chemistry,NaN,NaN,9.034909128408943e-08
9823061,2017.0,19.0,0.0,9.0,0.000000,NaN,09,Instruments,6.0,9.0,3.881098877432008e-08
6332817,2001.0,2.0,4.0,5.0,0.000000,0.000000,32,Mechanical Eng,3.0,4.0,6.746816677140238e-08
7654944,2010.0,1.0,3.0,5.0,0.000000,0.000000,33,Other fields,5.0,5.0,4.389196715291236e-08

In [22]:
df.describe()

,date,num_claims,cit_received,cit_made,originality,generality,external,far_external
count,7.430873e+06,7.430873e+06,9.677415e+06,6.993129e+06,6.324082e+06,7.097566e+06,5.757066e+06,5.757066e+06
mean,2.004755e+03,1.424143e+01,1.147255e+01,1.587624e+01,1.779464e-01,1.799363e-01,7.521218e+00,1.043347e+01
std,1.185321e+01,1.164018e+01,3.411512e+01,5.434047e+01,2.239259e-01,2.280400e-01,3.323117e+01,3.939346e+01
min,1.976000e+03,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.997000e+03,6.000000e+00,1.000000e+00,4.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,2.000000e+00
50%,2.008000e+03,1.300000e+01,3.000000e+00,7.000000e+00,0.000000e+00,0.000000e+00,3.000000e+00,4.000000e+00
75%,2.015000e+03,2.000000e+01,1.100000e+01,1.300000e+01,3.750000e-01,4.062500e-01,6.000000e+00,9.000000e+00
max,2.020000e+03,8.870000e+02,4.677000e+03,5.841000e+03,8.000000e-01,8.000000e-01,4.310000e+03,4.376000e+03

In [23]:
df.describe(include=[np.object]).transpose()

            count   unique                    top     freq
pagerank  9417510  6353520  3.881098877432008e-08  1712807

In [26]:
df.to_parquet(dst, compression='gzip')

In [25]:
# In[32]:


# this code includes WIPO in the dataset
# as class is also part of non-cited patents, I'm not including in here.
# in any case, for some reason this merge could not be done by the method used in the previous
# there is a bug when using read_csv.gz using dtype and indexing. 
# it is a known bug in the community but i do not know why the previous join did not accused the issue
# the method below corrects the issue 

# names=['index', 'id', 'field_id']
# dtype={'id':object}
# usecols=['id', 'field_id']
# # data_read(wipo, names, usecols, dtype)
# wipo = pd.read_csv.gz(wipo, names=names, usecols=usecols, dtype=dtype, header=0)
# wipo['id']=wipo['id'].astype(str)
# wipo=wipo.set_index('id')
# wipo.info()

# dfs.append(wipo)