In [1]:
#This script opens the other reference dataset and perform calculations on patent level
#Renato Kogeyama

#Rio de Janeiro, 24 de Setembro de 2021
#Script to calculate non patent citations received by a patent

In [2]:
import pandas as pd
import numpy as np
import re
import glob

In [3]:
file_list=glob.glob("data/clean_otherref*")
dfs = [pd.read_parquet(f, columns=['patent_id', 'sequence']) for f in file_list]
dst = 'data/otherref_cit.parquet.gz'

for i, df in enumerate(dfs):
    if i==0:
        output=df.groupby(df.index).count() 
    else:
        output=pd.concat([output, df.groupby(df.index).count()]) # following Nemet and Johson, this variable is relevant for citations made

In [4]:
output=output.groupby(output.index).sum()

In [5]:
output.head()

           sequence
patent_id
10000000          6
10000002          2
10000003          2
10000005          2
10000006          1

In [6]:
dfs

[          sequence
 patent_id
 D670692        192
 RE43119        573
 9441707          6
 7445817        188
 10391397       127
 ...            ...
 9040445        117
 10333604       950
 4422268          0
 9287675         65
 9492555         35

 [15728640 rows x 1 columns],
           sequence
 patent_id
 9339622          2
 5013322          1
 8773357         14
 7307640        170
 8543711         27
 ...            ...
 9732075         75
 6724065          3
 8204342          5
 10287321       182
 8722518         27

 [15728640 rows x 1 columns],
           sequence
 patent_id
 9140992          4
 8637529          4
 10106624        11
 8236294         93
 10307830         2
 ...            ...
 8782379         13
 8063023        125
 8259769         19
 10165183         7
 9028451         65

 [8107859 rows x 1 columns]]

In [7]:
output.nlargest(15, 'sequence')

           sequence
patent_id
10415016       3009
10329543       3008
8401902        2964
7820193        2823
9487823        2725
9100375        2501
8112782        2483
9037713        2380
9094399        2376
9860283        2372
8637286        2336
8445244        2333
9413766        2333
8236539        2330
9479426        2317

In [8]:
output.to_parquet(dst, compression='gzip')